$margin-top-sizes: (
    '1': 1rem,
    '2': 2rem,
    '3': 3rem,
    '4': 4rem,
    '5': 5rem,
    '6': 6rem,
);
@each $key, $value in $margin-top-sizes {
    .mt-#{$key}{
        margin-top: $value;
    }
}

$margin-bottom-sizes: (
    '1': 1rem,
    '2': 2rem,
    '3': 3rem,
    '4': 4rem,
    '5': 5rem,
    '6': 6rem,
);
@each $key, $value in $margin-bottom-sizes {
    .mb-#{$key}{
        margin-bottom: $value;
    }
}

$margin-left-sizes: (
    '1': 1rem,
    '2': 2rem,
    '3': 3rem,
    '4': 4rem,
    '5': 5rem,
    '6': 6rem,
);
@each $key, $value in $margin-left-sizes {
    .ml-#{$key}{
        margin-bottom: $value;
    }
}

$margin-right-sizes: (
    '1': 1rem,
    '2': 2rem,
    '3': 3rem,
    '4': 4rem,
    '5': 5rem,
    '6': 6rem,
);
@each $key, $value in $margin-right-sizes {
    .mr-#{$key}{
        margin-bottom: $value;
    }
}

$padding-top-sizes: (
    '1': 1rem,
    '2': 2rem,
    '3': 3rem,
    '4': 4rem,
    '5': 5rem,
    '6': 6rem,
);
@each $key, $value in $padding-top-sizes {
    .pt-#{$key}{
        padding-top: $value;
    }
}

$padding-bottom-sizes: (
    '1': 1rem,
    '2': 2rem,
    '3': 3rem,
    '4': 4rem,
    '5': 5rem,
    '6': 6rem,
);
@each $key, $value in $padding-bottom-sizes {
    .pb-#{$key}{
        padding-bottom: $value;
    }
}